* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    margin: 0;
    background-color: aliceblue;
}

ul {
    list-style-type: none;
}

.container {
    max-height: 98vh;
    display: grid;
    grid-template-columns: minmax(180px, 1fr) minmax(480px, 4fr);
    grid-template-rows: minmax(180px, 1fr) minmax(720px, 4fr);
    grid-template-areas:
        "sidebar header"
        "sidebar main";
}

.header {
    grid-area: header;
}

.sidebar {
    background-color: #0b96d7;
    grid-area: sidebar;
    color: white;
}

.main {
    background-color: #E2E8F0;
    grid-area: main;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "projects announcements"
        "projects trending";
}

.projects {
    grid-area: projects;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 25px 1fr;
    grid-template-areas: 
        "h2"
        "projects-cont";
}

.projects .card {
    border: 2px solid goldenrod;
    border-radius: 12px;
}

.announcements {
    grid-area: announcements;
}

.trending {
    grid-area: trending;
}

.h2 {
    grid-area: h2;
}

.projects-container {
    grid-area: projects-cont;
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
}

.upper-header input{
    background-color: #E2E8F0;
    width: 550px;
    height: 28px;
    border-radius: 12px;
    border: none;
}

.sidebar h1 {
    display: block;
}